<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓:<input type="text" name="" v-model="onename">
        名:<input type="text" name="" v-model="twoname">
        姓名:<span>{{fullName()}}</span><!-- 绑定事件可以不加(),fullName()把返回值插入需要() ,我们在调用模板-->
    </div>
    <script>

        new Vue({
            el:'#root',
            data:{
                onename:'张',
                twoname:'三'
            },
            //模板
            methods:{
                fullName(){
                   return this.onename + '-' + this.twoname 
                }
            }
        })
    </script>
</body>
</html>